<!-- app/views/users/new.html.erb -->
<h1>New User</h1>

<%= form_with model: @user, url: users_path, local: true do |form| %>
  <% if flash[:error] %>
    <div class="error"><%= flash[:error] %></div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :surname %>
    <%= form.text_field :surname %>
  </div>

  <div>
    <%= form.label :patronymic %>
    <%= form.text_field :patronymic %>
  </div>

  <div>
    <%= form.label :fullname %>
    <%= form.text_field :fullname %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div>
    <%= form.label :nationality %>
    <%= form.text_field :nationality %>
  </div>

  <div>
    <%= form.label :country %>
    <%= form.text_field :country %>
  </div>

  <div>
    <%= form.label :gender %>
    <%= form.select :gender, options_for_select(['male', 'female']) %>
  </div>

  <div>
    <%= form.label :interests, "Interests (comma separated)" %>
    <%= form.text_field :interests, value: (params[:interests] || []).join(', ') %>
  </div>

  <div>
    <%= form.label :skills, "Skills (comma separated)" %>
    <%= form.text_field :skills, value: (params[:skills] || []).join(', ') %>
  </div>

  <div>
    <%= form.submit "Create User" %>
  </div>
<% end %>
